$enable-spacers: true;

@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/functions";
@import "bootstrap-icons/font/bootstrap-icons.min.css";
@import 'base/fonts';
@import "pages/accueil";
@import "pages/projet";
@import "pages/projet-detail";
@import "pages/donate";
@import "layout/header";
@import "layout/footer";
@import "abstracts/variables";
@import "@splidejs/splide/dist/css/splide.min.css";

body {
    font-family: "Roc Grotesk";
    font-size: 16px;
    background-color: $white-color;
    color: $black-color;
    max-width: 100vw;
}

.bold-text {
    font-weight: bolder;
}

.btn {
    padding: 0.65rem 1.8rem;
}

.btn-primary {
    border: none;
    background-color: $primary-color;

    &:hover {
        background-color: darken($primary-color, 10%);
    }

    --bs-btn-active-bg: #{$primary-color};
}

.btn-outline-primary {
    --bs-btn-color: #{$primary-color};
    --bs-btn-border-color: #{$primary-color};
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #{$primary-color};
    --bs-btn-hover-border-color: #{$primary-color};
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #{$primary-color};
    --bs-btn-active-border-color: #{$primary-color};
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #{$primary-color};
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #{$primary-color};
    --bs-gradient: none;
}

.btn-light {
    border: none;

    &:hover {
        background-color: $black-color;
        color: white;
    }

    --bs-btn-active-bg: white;
}

.nav-link {
    color: $black-color;
}

.my-100 {
    margin-left: 100px;
    margin-right: 100px;
}

.grand-titre {
    font-family: "Joly Headline";
    font-weight: bold;
    font-size: $big-title-size;
}

.petit-titre {
    font-family: "Joly Headline";
    font-weight: bold;
    font-size: $little-title-size;
}

@media (max-width: 991px) {
    .grand-titre {
        font-size: calc($big-title-size - 10px);
    }
    .petit-titre {
        font-size: calc($little-title-size - 10px);
    }
}

@media (max-width: 420px) {
    .grand-titre {
        font-size: calc($big-title-size - 20px);
    }
    .petit-titre {
        font-size: calc($little-title-size - 10px);
    }
}

.form-input {
    border: none;
    border-radius: 5px;
    background-color: white;
    transition: all 0.1s ease;
    outline: 0 solid white;

    &:focus {
        box-shadow: none;
        transition: all 0.1s ease;
        outline: 2px solid $primary-color;
    }

    &:disabled {
        background-color: #ffced3 !important;
    }

    &:disabled:-webkit-autofill {
        background-color: #ffced3 !important;
        box-shadow: 0 0 0px 1000px #ffced3 inset !important;
    }
}

.textarea {
    border: none;
    transition: all 0.1s ease;
    outline: 0 solid white;

    &:focus {
        box-shadow: none;
        transition: all 0.1s ease;
        outline: 2px solid $primary-color;
    }
}

.contact-icon::before {
    vertical-align: middle;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $black-color;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
}

.hover-underline-animation.left::after {
    transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
    transform-origin: bottom left;
}

.btn-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    display: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

.loader::before, .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite;
}

.loader::after {
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: $black-color;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }
    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }
    75%, 100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
}

//.form-input.focused {
//    border: solid 2px $primary-color;
//    box-shadow: none;
//    transition: all 0.1s ease;
//}
