@import "bootstrap/scss/bootstrap";
@import 'fonts';
@import "accueil";
@import "header";
@import "variables";

body {
    font-family: "Roc Grotesk";
    font-size: 16px;
    background-color: $white-color;
    color: $black-color;
}

.bold-text {
    font-weight: bolder;
}

.btn {
    padding: 0.65rem 1.8rem;
    &:hover {
        background-color: darken($primary-color, 10%);
    }
}

.btn-primary {
    border: none;
    background-color: $primary-color;
}

.nav-link {
    color: $black-color;
}

.my-100 {
    margin-left: 100px;
    margin-right: 100px;
}

.grand-titre {
    font-family: "Joly Headline";
    font-weight: bold;
    font-size: 64px;
}

.petit-titre {
    font-family: "Joly Headline";
    font-weight: bold;
    font-size: 48px;
}

@media (max-width: 991px) {
    .grand-titre {
        font-size: 58px;
    }
    .petit-titre {
        font-size: 42px;
    }
}
