$enable-spacers: true;

@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";
@import 'base/fonts';
@import "pages/accueil";
@import "pages/projet";
@import "pages/projet-detail";
@import "pages/donate";
@import "pages/a-propos";
@import "layout/header";
@import "layout/footer";
@import "abstracts/variables";
@import "../../../node_modules/@splidejs/splide/dist/css/splide.min.css";

body {
    font-family: "Roc Grotesk";
    font-size: 16px;
    //background-color: $white-color;
    background: radial-gradient(circle at top right, #a3f6ff, $white-color 25%);
    background-size: 200% 200%;
    height: 100vh;
    animation: aurora 7s infinite ease-in-out;
    color: $black-color;
    max-width: 100vw;
    transition: all 0.5s ease;
}
@media (max-width: 769px) {
    body {
        background: radial-gradient(circle at top right, #a3f6ff, $white-color 10%);
    }
}
@keyframes aurora {
    0% {
        background-position: 75% 0%;
    }
    50% {
        background-position: 40% 20%;
    }
    100% {
        background-position: 75% 0%;
    }
}

.bold-text {
    font-weight: bolder;
}

.btn {
    padding: 0.65rem 1.8rem;
}

.btn-primary {
    border: none;
    background-color: $primary-color;

    &:hover {
        background-color: darken($primary-color, 10%);
    }

    --bs-btn-active-bg: #{$primary-color};
}

.btn-secondary {
    border: none;
    background-color: #cca1a4;

    &:hover {
        background-color: #cc6a74;
    }

    --bs-btn-active-bg: #{$primary-color};
}

.btn-outline-primary {
    --bs-btn-color: #{$primary-color};
    --bs-btn-border-color: #{$primary-color};
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #{$primary-color};
    --bs-btn-hover-border-color: #{$primary-color};
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #{$primary-color};
    --bs-btn-active-border-color: #{$primary-color};
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #{$primary-color};
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #{$primary-color};
    --bs-gradient: none;
}

.btn-light {
    border: none;

    &:hover {
        background-color: $black-color;
        color: white;
    }

    --bs-btn-active-bg: white;
}

.nav-link {
    color: $black-color;
}

.my-100 {
    margin-left: 100px;
    margin-right: 100px;
}

.grand-titre {
    //font-family: "Joly Headline";
    //font-weight: bold;
    font-size: $big-title-size;
    font-family: "Roc Grotesk", sans-serif;
    font-weight: bold;
    span {
        color: $primary-color;
        font-family: "Joly Headline", serif;
        font-size: calc($big-title-size + 5px);
        font-weight: lighter;
    }
    strong {
        color: $primary-color;
        font-family: "Joly Headline", serif;
        font-size: calc($big-title-size + 5px);
        font-weight: lighter;
    }
}

.petit-titre {
    font-family: "Joly Headline";
    font-weight: bold;
    font-size: $little-title-size;
}

@media (max-width: 991px) {
    .grand-titre {
        font-size: calc($big-title-size - 10px);
        span {
            font-size: calc($big-title-size - 12px);
        }
    }
    .petit-titre {
        font-size: calc($little-title-size - 10px);
    }
}

@media (max-width: 420px) {
    .grand-titre {
        font-size: calc($big-title-size - 20px);
        span {
            font-size: calc($big-title-size - 22px);
        }
    }
    .petit-titre {
        font-size: calc($little-title-size - 10px);
    }
}

.form-input {
    border: none;
    border-radius: 5px;
    background-color: white;
    transition: all 0.1s ease;
    outline: 0 solid white;

    &:focus {
        box-shadow: none;
        transition: all 0.1s ease;
        outline: 2px solid $primary-color;
    }

    &:disabled {
        background-color: $primary-light-color !important;
    }

    &:disabled:-webkit-autofill {
        background-color: $primary-light-color !important;
        box-shadow: 0 0 0px 1000px $primary-light-color inset !important;
    }
}

.textarea {
    border: none;
    transition: all 0.1s ease;
    outline: 0 solid white;

    &:focus {
        box-shadow: none;
        transition: all 0.1s ease;
        outline: 2px solid $primary-color;
    }
}

.contact-icon::before {
    vertical-align: middle;
}

.contact-icon {
    color: $primary-color;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $black-color;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
}

.hover-underline-animation.left::after {
    transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
    transform-origin: bottom left;
}

.btn-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    display: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

.loader::before, .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite;
}

.loader::after {
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: $black-color;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }
    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }
    75%, 100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
}

.link-secondary {
    cursor: pointer;
}

.accordion {
    --bs-accordion-active-color: $black-color;
    --bs-accordion-active-bg: #ffc8ce;
}
.accordion-button:focus {
    box-shadow: none;
}

.pswp__video-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pswp__video-container video {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.w-fit-content {
    width: fit-content;
}