.a-propos-image-container {
    background-size: cover;
    background-position: center;
}

.contact-content {
    strong {
        font-weight: unset !important;
        font-family: "Joly Headline", serif;
        color: $primary-color;
    }
}

@media (max-width: 769px) {
    .a-propos-image-container {
        height: 50vh !important;
    }
}
