.cb-list {
    li {
        padding: .2rem;
        background-color: transparent;
    }
}

.donation_container {
    background: radial-gradient(circle at center, rgba(4, 15, 22, 1), rgba(4, 15, 22, 1), rgba(45, 40, 141, 1));
    color: white;
}
