@import "../abstracts/variables";

.titre-container {
    margin-bottom: 2rem;
}

.project-card {
    .card {
        color: white;
        padding: 1.5rem;
        border: none;
        background-color: $primary-color;
        transition: all 0.3s ease;

        &:hover {
            .badge-container .cta-badge {
                scale: 160%;
                transition: all 0.3s ease-out;
            }
        }
    }
}

.titre {
    align-items: center;
    h2 {
        margin-bottom: 0;
    }
    margin-bottom: 1rem;
}

.project-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.status-badge {
    align-content: center;
    height: fit-content;
    font-weight: normal;
    background-color: rgba(0,0,0,0);
    border: 1px solid white;
}

.objectives {
    margin-top: 10px;
}

.objective-pill {
    padding: 10px 20px;
    line-height: 1.2rem;
    font-size: 0.9rem;
    border: none;
    margin-right: 5px;
    margin-bottom: 8px;
    white-space: pre-wrap;
    text-align: left;
    background-color: white;
}

.badge-container {
    .cta-badge {
        transition: all 0.3s ease-out;
        white-space: nowrap;
        font-weight: bold;
        font-size: .75em;
        height: 6rem;
        width: 6rem;
        background-color: white;
        color: $black-color;
        border-radius: 50%;
        float: right;
        text-align: center;
        align-content: center;
        position: relative;
        bottom: -15px;
        right: -15px;
    }

    a {
        text-decoration: none;
        color: black;
        padding: 5px 5px;
    }

    bottom: 20px;
    right: 20px;
    font-size: 1.5rem;
}

.progress {
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
}

.progress-bar {
    background-color: #4caf50;
}
