@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";

@import "../../../node_modules/@coreui/coreui/scss/mixins/banner";
// Configuration
@import "../../../node_modules/@coreui/coreui/scss/functions";
$primary: #050c26;
@import "../../../node_modules/@coreui/coreui/scss/variables";
@import "../../../node_modules/@coreui/coreui/scss/variables-dark";
@import "../../../node_modules/@coreui/coreui/scss/maps";
@import "../../../node_modules/@coreui/coreui/scss/mixins";
@import "../../../node_modules/@coreui/coreui/scss/utilities";
// Layout & components
@import "../../../node_modules/@coreui/coreui/scss/root";
@import "../../../node_modules/@coreui/coreui/scss/reboot";
@import "../../../node_modules/@coreui/coreui/scss/type";
@import "../../../node_modules/@coreui/coreui/scss/images";
@import "../../../node_modules/@coreui/coreui/scss/containers";
@import "../../../node_modules/@coreui/coreui/scss/grid";
@import "../../../node_modules/@coreui/coreui/scss/tables";
@import "../../../node_modules/@coreui/coreui/scss/forms";
@import "../../../node_modules/@coreui/coreui/scss/buttons";
@import "../../../node_modules/@coreui/coreui/scss/transitions";
@import "../../../node_modules/@coreui/coreui/scss/dropdown";
@import "../../../node_modules/@coreui/coreui/scss/button-group";
@import "../../../node_modules/@coreui/coreui/scss/nav";
@import "../../../node_modules/@coreui/coreui/scss/navbar";
@import "../../../node_modules/@coreui/coreui/scss/card";
@import "../../../node_modules/@coreui/coreui/scss/accordion";
@import "../../../node_modules/@coreui/coreui/scss/breadcrumb";
@import "../../../node_modules/@coreui/coreui/scss/pagination";
@import "../../../node_modules/@coreui/coreui/scss/badge";
@import "../../../node_modules/@coreui/coreui/scss/alert";
@import "../../../node_modules/@coreui/coreui/scss/progress";
@import "../../../node_modules/@coreui/coreui/scss/list-group";
@import "../../../node_modules/@coreui/coreui/scss/close";
@import "../../../node_modules/@coreui/coreui/scss/toasts";
@import "../../../node_modules/@coreui/coreui/scss/modal";
@import "../../../node_modules/@coreui/coreui/scss/tooltip";
@import "../../../node_modules/@coreui/coreui/scss/popover";
@import "../../../node_modules/@coreui/coreui/scss/carousel";
@import "../../../node_modules/@coreui/coreui/scss/spinners";
@import "../../../node_modules/@coreui/coreui/scss/offcanvas";
@import "../../../node_modules/@coreui/coreui/scss/placeholders";

@import "../../../node_modules/@coreui/coreui/scss/avatar";
@import "../../../node_modules/@coreui/coreui/scss/callout";
@import "../../../node_modules/@coreui/coreui/scss/footer";
@import "../../../node_modules/@coreui/coreui/scss/header";
@import "../../../node_modules/@coreui/coreui/scss/icon";
@import "../../../node_modules/@coreui/coreui/scss/sidebar";
// Helpers
@import "../../../node_modules/@coreui/coreui/scss/helpers";
// Utilities
@import "../../../node_modules/@coreui/coreui/scss/utilities/api";

@import "theme";
@import "variables";
@import "vendors/simplebar";

@import "../../../node_modules/@coreui/icons/scss/free";
@import "../../../node_modules/@coreui/icons/scss/flag";
@import "../../../node_modules/@coreui/icons/scss/brand";

@import "../../../node_modules/datatables.net-dt/css/dataTables.dataTables.min.css";

@import "../../../node_modules/notyf/notyf.min.css";

$primary: #060626;

.dt-input {
    margin-right: 1rem;
}

.tags-input {
    display: inline-block;
    position: relative;
}

.tags-input ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tags-input li {
    display: inline-block;
    background-color: $primary;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tags-input input[type="text"]:focus {
    outline: none;
}

.tags-input .delete-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 5px;
}

/**************************\
  Basic Modal Styles
\**************************/

.modal {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    background-color: #fff;
    padding: 30px;
    max-width: 500px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
}

.modal__close {
    background: transparent;
    border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
}

.modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0,0,0,.8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.modal__btn-primary {
    background-color: #00449e;
    color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes mmslideIn {
    from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}

.modal-danger {
    .modal__title {
        color: orangered;
    }

    .btn-danger {
        background-color: orangered;
        color: white;
    }
}

.filepond--item {
    width: calc(20% - 0.5em);
}
@media (max-width: 991px) {
    .filepond--item {
        width: calc(50% - 0.5em);
    }
}
@media (max-width: 420px) {
    .filepond--item {
        width: calc(100% - 0.5em);
    }
}


.filepond--panel-root {
    border: 2px dashed black;
}

.existing-media {
    margin-top: 10px;
}

.media-item:hover .delete-button {
    opacity: 1;
}

.media-item img,
.media-item video {
    width: 100%;
}

.delete-button {
    translate: 5px -40px;
    font-size: 1.5rem;
    position: absolute;
    background: transparent;
    opacity: 0;
    color: #e74343;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
}

.hover-underline:hover {
    text-decoration: underline!important;
}
