$primary-color: #505cfd;
$primary-light-color: #cffbff;
$second-color: #52d1dc;
$black-color: #040f16;
$white-color: #f1f8ff;
$yellow-color: #DFDC4C;

//$primary-color: #DF253A;
//$black-color: #000814;
//$white-color: #FFF7F0;
//$yellow-color: #DFDC4C;

$jumbotron-height: 75vh;
$header-height: 10vh;

$body-text-size: 16px;
$big-title-size: 64px;
$little-title-size: 48px;
